html {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(ellipse at center, #2d3136 0%,#070707 50%, #000000 100%);
    height: 200vh;
    width: 100vw;
}

.title-name{
    position: fixed;
    top: 50%;
    left: 50%;  
    width: 50vh;
    transform: translate(-50%, -50%);
}

.greek-statue img{
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease-in-out;
}

.animated-greek-statue img{
    height: 100vh;
    position: fixed;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.circle-1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 100%;
    border: solid white 1px;
    opacity: 50%;
    height: 90vw;
    width: 90vw;
}

.circle-2{
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 100%;
    border: solid white 1px;
    opacity: 50%;
    height: 40vw;
    width: 40vw;
}

.quote{
    position: fixed;
}